@use "../abstracts/variables" as *;
@use "../abstracts/media-queries" as *;

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;

  // background-color: #222;
  background-color: $color-white;
  color: $color-black;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  // For wider screens, center the audio player content
  // justify-content: center;

  &__artwork {
    margin-right: 10px;
  }

  .play-button,
  &__previous-button,
  &__next-button {
    display: flex;
    align-self: center;
    cursor: pointer;
    background: none;
  }

  &__previous-button,
  &__next-button {
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  .play-icon,
  .pause-icon,
  &__previous-icon,
  &__next-icon {
    fill: $color-black;
  }

  &__track-info {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
    font-size: 1.6rem;
  }

  &__add-to-cart {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;

    .cart-icon {
      fill: $color-black;
    }
  }

  &__product-price {
    margin-left: 5px;
  }
}
