@use '../abstracts/variables' as *;
@use '../abstracts/media-queries' as *;

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: $color-white;
  color: $color-black;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: grid;
  grid-template-columns: 60px calc(100% - 135px) 65px;
  grid-template-rows: 1fr;
  grid-template-areas: 'artwork player add-to-cart';
  grid-column-gap: 5px;

  &__artwork {
    grid-area: artwork;
    cursor: pointer;
  }

  &__player {
    grid-area: player;

    display: grid;
    grid-template-rows: 35px 25px;
    grid-template-columns: 60px 36px 36px calc(100% - 132px);
    grid-template-areas:
      'controls     position     time         track-title'
      'progress-bar progress-bar progress-bar progress-bar';

    .player__controls {
      grid-area: controls;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 5px;

      .play-button,
      .audio-player__previous-button,
      .audio-player__next-button {
        display: flex;
        align-self: center;
        cursor: pointer;
        background: none;
      }

      .audio-player__previous-button,
      .audio-player__next-button {
        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
      }

      .play-icon,
      .pause-icon,
      .audio-player__previous-icon,
      .audio-player__next-icon {
        fill: $color-black;
      }
    }

    .player__position {
      grid-area: position;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }

    .player__time {
      grid-area: time;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }

    .player__track-title {
      grid-area: track-title;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 5px;

      padding-left: 10px;

      overflow: hidden;

      .animation-wrapper {
        display: flex;
        white-space: nowrap;
        will-change: transform;

        animation-name: move-left;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        .track-title-text {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          text-overflow: ellipsis;
        }
      }

      .animation-running {
        animation-play-state: running;
      }

      .animation-paused {
        animation-name: reset;
        animation-play-state: paused;
      }
    }

    @keyframes move-left {
      0% {
        transform: translateX(0);
      }
      20% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes reset {
      0%,
      100% {
        transform: translateX(0);
      }
    }

    .player__progress-bar {
      grid-area: progress-bar;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 5px;
      margin-left: 4px;

      &-input {
        width: 100%;
      }
    }
  }

  &__add-to-cart {
    grid-area: add-to-cart;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
}
