@use '../abstracts/variables' as *;
@use '../abstracts/media-queries' as *;

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  // background-color: #222;
  background-color: $color-white;
  color: $color-black;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: grid;
  grid-template-columns: 50px 60px calc(100% - 230px) 120px;
  grid-template-rows: 50px 30px;
  grid-template-areas:
    'artwork controls progress-bar progress-bar'
    'position track-title track-title add-to-cart';

  @media only screen and (min-width: $screen-md-min) {
    grid-template-columns: 50px calc(40% - 133px) 60px calc(60% - 133px) 36px 120px;
    grid-template-rows: 1fr;
    grid-template-areas: 'artwork track-title controls progress-bar position add-to-cart';
  }

  &__artwork {
    grid-area: artwork;
    cursor: pointer;
  }

  &__track-title {
    grid-area: track-title;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  &__controls {
    grid-area: controls;

    display: flex;
    align-items: center;
    justify-content: center;

    .play-button,
    .audio-player__previous-button,
    .audio-player__next-button {
      display: flex;
      align-self: center;
      cursor: pointer;
      background: none;
    }

    .audio-player__previous-button,
    .audio-player__next-button {
      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }

    .play-icon,
    .pause-icon,
    .audio-player__previous-icon,
    .audio-player__next-icon {
      fill: $color-black;
    }
  }

  &__progress-bar {
    grid-area: progress-bar;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__position {
    grid-area: position;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__add-to-cart {
    grid-area: add-to-cart;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    padding-right: 10px;

    .cart-icon {
      fill: $color-black;
    }

    .product-price {
      margin-left: 5px;
    }
  }
}
