@use '../abstracts/variables' as *;
@use '../abstracts/media-queries' as *;
@use '../layout/grid' as *;

.app-nav-bar {
  display: block;

  .nav-menu-wrapper {
    .nav {
      height: 150px;

      @include grid('100px 50px', 0px, 0px);

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
      }

      &__top {
        grid-column: inner-start / inner-end;
        grid-row: 1;

        height: 100px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo {
          height: 100%;
          .nav__link {
            height: 100%;
            .logo-img {
              width: 100px;
              height: 100px;
            }
          }
        }

        .nav__icon-menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          width: 100%;

          .nav-icon {
            width: 24px;
            height: 24px;
            fill: $color-black;
          }

          .nav__item {
            width: 32px;
            height: 32px;
            border: none;

            @media only screen and (max-width: $screen-xs-max) {
              margin-right: 10px;
              margin-left: 0;
            }
          }

          .nav__cart {
            position: relative;
            display: inline-block;
            text-align: center;

            .nav-icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .cart-count-indicator {
            position: absolute;
            top: 20px;
            right: -1px;

            padding: 0.125rem 0.375rem;
            border-radius: 9999px;
            min-width: 1.75rem;
            text-align: center;

            font-size: 1rem;
            font-weight: bold;

            background: $color-black;
            color: $color-white;
          }
        }
      }

      &__bottom {
        background-color: #ededf2;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        grid-column: page-start / page-end;
        grid-row: 2;

        height: 50px;

        @include grid('auto', 0px, 0px);

        .nav__menu {
          grid-column: inner-start / inner-end;

          display: flex;
          justify-content: center;
          align-items: center;

          &-item {
            width: 20%;
            height: 100%;

            &:first-of-type {
              border-left: 1px solid #6c788e;
            }

            border-right: 1px solid #6c788e;

            @media only screen and (max-width: $screen-xs-max) {
              &:first-of-type {
                border-left: none;
              }
              &:last-of-type {
                border-right: none;
              }
            }

            .nav__link {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;

              color: #6c788e;

              &:hover {
                color: $color-black;
                text-decoration-color: $color-black;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-decoration-style: solid;
                text-underline-offset: 4px;
              }
            }
          }
        }
      }
    }
  }
}
