@use "../abstracts/variables" as *;
@use "../layout/responsive-layout" as *;

.app-nav-bar {
  display: block;
  border-bottom: 2px solid black;

  .nav {
    display: flex;
    justify-content: space-between;

    @include responsive-layout();

    &__list {
      display: inline-block;
      list-style: none;
    }

    &__item {
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;

      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__icon {
      display: flex;
      align-self: center;
    }

    &__link {
      display: flex;
      align-self: center;

      color: black;
      text-decoration: none;
    }

    &__left {
      .nav__item {
        margin-left: 2rem;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    &__right {
      .nav__item {
        margin-right: 2rem;

        &:last-of-type {
          margin-right: 0;
        }

        &--cart {
          position: relative;
          display: inline-block;
        }
      }
    }

    .cart-icon-wrapper {
      position: relative;
      display: inline-block;
    }

    .cart-count-indicator {
      position: absolute;
      top: -5px;
      right: -5px;

      padding: 0.125rem 0.375rem;
      border-radius: 9999px;
      min-width: 1.25rem;
      text-align: center;

      font-size: 1.2rem;
      font-weight: bold;

      background: $color-black;
      color: $color-white;
    }

    .nav-menu {
      &__wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
      }

      &__label {
        display: flex;
        align-self: center;

        &:hover {
          text-decoration: underline;
          text-decoration-color: black;
          text-decoration-thickness: 2px;
          text-decoration-style: solid;
          text-underline-offset: 4px;
        }
      }

      &__icon-wrapper {
        display: flex;
        align-self: center;
      }

      &__panel {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        z-index: 1;

        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        background-color: snow;

        .nav__item {
          margin: 0;
          padding: 5px 10px;
        }
      }
    }
  }
}
