@use "../abstracts/variables" as *;
@use "../abstracts/media-queries" as *;

.app-product-tile {
  @include for-xxxs-screen {
    width: 100%;
    margin-bottom: 16px;
  }

  @include for-xxs-screen {
    width: calc(50% - 5px);
    margin-left: 10px;
    margin-bottom: 16px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-xs-screen {
    width: calc(50% - 5px);
    margin-left: 10px;
    margin-bottom: 16px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-small-screen {
    width: calc(50% - 6px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-medium-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-large-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-xl-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-xxl-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  .product-tile {
    background-color: $color-white;
    border: 2px solid $color-black;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__image {
      cursor: pointer;

      .product-image {
        position: relative;
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1/1;
        display: block;
        background-size: cover;
        background-position: center;
        border-bottom: 2px solid $color-black;

        &-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          background-color: rgba(255, 255, 255, 0);
          transition: background-color 0.2s ease;
        }

        .play-button {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $color-black;

          display: flex;
          justify-content: center;
          align-items: center;

          .play-icon,
          .pause-icon {
            display: block;
            fill: $color-white;
          }
        }
      }

      &:hover .product-image-overlay {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      flex: 1;

      .product-info {
        cursor: pointer;
        padding: 12px;
        flex: 1;

        &__title {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 0 0 4px 0;
          color: $color-black;
        }

        &__artist {
          font-size: 1.4rem;
          color: #666;
          margin: 0 0 8px 0;
        }

        &__price {
          font-size: 1.6rem;
          font-weight: bold;
          color: $color-black;
          margin: 0;
        }
      }

      .product-actions {
        padding: 0 12px 12px 12px;

        &__add-to-cart {
          width: 100%;
          padding: 10px 15px;
          background-color: $color-black;
          color: $color-white;
          border: none;
          font-size: 1.4rem;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: #333;
          }

          &:focus-visible {
            outline: 2px solid $color-accent;
            outline-offset: 2px;
          }
        }
      }
    }
  }
}
