@use "../abstracts/variables" as *;
@use "../abstracts/media-queries" as *;

.product-tile {
  @include for-xxxs-screen {
    width: 100%;
    margin-bottom: 16px;
  }

  @include for-xxs-screen {
    width: calc(50% - 5px);
    margin-left: 10px;
    margin-bottom: 16px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-xs-screen {
    width: calc(50% - 5px);
    margin-left: 10px;
    margin-bottom: 16px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-small-screen {
    width: calc(50% - 6px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }

  @include for-medium-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-large-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-xl-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  @include for-xxl-screen {
    width: calc(25% - 9px);
    margin-left: 12px;
    margin-bottom: 20px;

    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
  }

  .product-image {
    cursor: pointer;
  }
}
