@use '../abstracts/variables' as *;

.quantity-input {
  display: flex;
  width: 100%;
  border: 2px solid $color-black;

  &__button {
    width: 37px;
    height: 37px;

    color: $color-white;
    background-color: $color-black;

    &-left {
      border-right: 2px solid $color-black;

      &:hover {
        border-right: 2px solid $color-grey;
      }
    }

    &-right {
      border-left: 2px solid $color-black;

      &:hover {
        border-left: 2px solid $color-grey;
      }
    }

    &:hover {
      background-color: $color-grey;
    }

    &:active {
      color: $color-black;
      background-color: $color-white;
    }

    &:disabled {
      cursor: default;
      color: darkgray;
      background-color: lightgray;
    }
  }

  &__input-field {
    width: calc(100% - 74px);
    height: 37px;
    text-align: center;

    &:focus {
      // TODO return custom outline for accessibility
      outline: none;
    }

    /* hiding arrows on Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* hiding arrows on Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
