@use '../abstracts/variables' as *;

.search-form {
  display: flex;
  flex-direction: row;

  width: 32px;
  transition: width 0.2s;
  //box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

  .search-input {
    width: 100%;
    padding-left: 1rem;
    pointer-events: none;
  }

  .search-button,
  .search-close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 32px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s;
  }

  .search-close-button {
    display: none;
    opacity: 0;
  }

  &--active {
    max-width: 100%;
    width: 100%;
  }

  &--active .search-input {
    pointer-events: initial;
    opacity: 1;
  }

  &--active .search-button {
    display: none;
    opacity: 0;
  }

  &--active .search-close-button {
    display: flex;
    opacity: 1;
  }
}
