@use "../abstracts/variables" as *;
@use "../layout/responsive-layout" as *;

.search-result {
  width: 100%;

  @include responsive-layout();

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
