@use '../abstracts/variables' as *;
@use '../layout/responsive-layout' as *;

.product-list {
  width: 100%;

  @include responsive-layout();

  &__header {
    border: 2px solid $color-black;
    padding: 12px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
