@font-face {
  font-family: "Source Code Pro Regular";
  src: url(../../assets/fonts/SourceCodePro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro Medium";
  src: url(../../assets/fonts/SourceCodePro-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
