@font-face {
  font-family: 'Rokkitt Bold';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt ExtraLight';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-ExtraLight.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt ExtraLightItalic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-ExtraLightItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt Italic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt Light';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt LightItalic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt Medium';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt MediumItalic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-MediumItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt Regular';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt SemiBold';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-SemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt SemiBoldItalic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-SemiBoldItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt Thin';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-Thin.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokkitt ThinItalic';
  src: url(../../assets/fonts/rokkitt/static/Rokkitt-ThinItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
