@font-face {
  font-family: 'Lora Bold';
  src: url(../../assets/fonts/lora/static/Lora-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora BoldItalic';
  src: url(../../assets/fonts/lora/static/Lora-BoldItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Italic';
  src: url(../../assets/fonts/lora/static/Lora-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Medium';
  src: url(../../assets/fonts/lora/static/Lora-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora MediumItalic';
  src: url(../../assets/fonts/lora/static/Lora-MediumItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Regular';
  src: url(../../assets/fonts/lora/static/Lora-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora SemiBold';
  src: url(../../assets/fonts/lora/static/Lora-SemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora SemiBoldItalic';
  src: url(../../assets/fonts/lora/static/Lora-SemiBoldItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
