@font-face {
  font-family: 'Source Code Pro Regular';
  src: url("/fonts/SourceCodePro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro Medium';
  src: url("/fonts/SourceCodePro-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}