@font-face {
  font-family: 'Roboto Bold';
  src: url(../../assets/fonts/roboto/static/Roboto-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto ExtraLight';
  src: url(../../assets/fonts/roboto/static/Roboto-ExtraLight.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto ExtraLightItalic';
  src: url(../../assets/fonts/roboto/static/Roboto-ExtraLightItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Italic';
  src: url(../../assets/fonts/roboto/static/Roboto-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../../assets/fonts/roboto/static/Roboto-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto LightItalic';
  src: url(../../assets/fonts/roboto/static/Roboto-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../../assets/fonts/roboto/static/Roboto-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto MediumItalic';
  src: url(../../assets/fonts/roboto/static/Roboto-MediumItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../../assets/fonts/roboto/static/Roboto-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiBold';
  src: url(../../assets/fonts/roboto/static/Roboto-SemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiBoldItalic';
  src: url(../../assets/fonts/roboto/static/Roboto-SemiBoldItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url(../../assets/fonts/roboto/static/Roboto-Thin.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto ThinItalic';
  src: url(../../assets/fonts/roboto/static/Roboto-ThinItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
