@font-face {
  font-family: 'Roboto Mono Bold';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono ExtraLight';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-ExtraLight.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono ExtraLightItalic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-ExtraLightItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono Italic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono Light';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono LightItalic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono MediumItalic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-MediumItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono Regular';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono SemiBold';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-SemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono SemiBoldItalic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-SemiBoldItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono Thin';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-Thin.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono ThinItalic';
  src: url(../../assets/fonts/roboto-mono/RobotoMono-ThinItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
