@use '../abstracts/variables' as *;
@use '../abstracts/media-queries' as *;
@use '../layout/responsive-layout' as *;

.product-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'artwork'
    'info';
  margin-top: 16px;

  @include responsive-layout();

  @include for-desktop-only {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'artwork info';
    gap: 0 36px;
    margin-top: 16px;
  }

  .product-artwork {
    grid-area: artwork;
    margin-bottom: 16px;

    @include for-desktop-only {
      position: sticky;
      top: 16px;
      align-self: start;
    }

    &__img {
      width: 100%;
      height: auto;
      display: block;
    }

    &__selection {
      display: flex;
      justify-content: start;
      height: 80px;
      margin-top: 16px;

      @media only screen and (min-width: $screen-md-min) {
        // TODO
        height: 100px;
      }
    }

    &__img-select {
      cursor: pointer;
      margin-right: 8px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .product-info {
    grid-area: info;
    margin-bottom: 16px;

    &__heading {
      margin-bottom: 10px;
    }

    &__price {
    }

    &__inventory-status {
      margin-bottom: 10px;

      .in-stock {
        color: green;
      }

      .low-stock {
        color: orange;
      }

      .out-of-stock {
        color: red;
      }
    }

    &__add-to-cart {
      margin-bottom: 14px;

      .add-to-cart-form {
        &__quantity {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        &__submit {
          width: 100%;
          padding: 10px 15px;
          background-color: $color-black;
          color: $color-white;
          border: none;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: $color-grey;
          }

          &:focus-visible {
            outline: 2px solid $color-accent;
            outline-offset: 2px;
          }
        }
      }
    }

    &__tracklist {
      margin-bottom: 10px;

      .tracklist-heading {
        margin-bottom: 2px;
      }

      .tracklist-list {
        &__item {
          cursor: pointer;
          border-bottom: 2px solid $color-black;

          &:hover {
            color: $color-white;
            background-color: $color-black;
          }

          &:focus {
            color: $color-white;
            background-color: $color-black;
          }

          &:active {
            color: $color-white;
            background-color: $color-black;
          }
        }
      }

      &__list {
        &-item {
          cursor: pointer;
          border-bottom: 1px solid lightgray;

          &:hover {
            color: $color-white;
            background-color: $color-black;
          }
        }
      }
    }

    &__release-details {
      margin-bottom: 10px;
    }

    &__description {
    }
  }
}
