@use "../abstracts/variables" as *;
@use "../abstracts/media-queries" as *;

.product-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "artwork"
    "heading"
    "price"
    "cart"
    "tracks"
    "description";
  gap: 24px;
  width: 100%;
  max-width: 564px;
  margin: auto;
  padding: 15px 15px 28px;

  @include for-large-screen {
    grid-template-columns: auto 500px;
    grid-template-areas:
      "artwork heading"
      "artwork price"
      "artwork cart"
      "artwork tracks"
      "description description";

    max-width: 1088px;
    padding: 36px 32px 36px;
  }

  @include for-xl-screen {
    grid-template-columns: auto 550px;
    grid-template-areas:
      "artwork heading"
      "artwork price"
      "artwork cart"
      "artwork tracks"
      "description description";

    max-width: 1188px;
    padding: 36px 32px 36px;
  }

  @include for-xxl-screen {
    grid-template-columns: auto 600px;
    grid-template-areas:
      "artwork heading"
      "artwork price"
      "artwork cart"
      "artwork tracks"
      "description description";

    max-width: 1288px;
    padding: 36px 32px 36px;
  }

  .product-artwork {
    grid-area: artwork;

    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .product-heading {
    grid-area: heading;
  }

  .product-price {
    grid-area: price;
  }

  .product-add-to-cart {
    grid-area: cart;

    .add-to-cart-form {
      &__quantity {
        width: 100%;
      }

      &__submit {
        width: 100%;
        height: 48px;
        margin-top: 16px;

        font-family: "Source Code Pro Regular", monospace;
        font-size: 1.8rem;

        color: $color-white;
        background-color: $color-black;
        border: 2px solid $color-black;

        &:hover {
          color: $color-black;
          background-color: $color-white;
        }
      }
    }
  }

  .product-tracklist {
    grid-area: tracks;

    &__heading {
      margin-bottom: 8px;
    }

    &__list {
      list-style: none;

      &-item {
        cursor: pointer;
        padding: 8px;
        border-bottom: 1px solid lightgray;

        &:hover {
          color: $color-white;
          background-color: $color-black;
        }
      }
    }
  }

  .product-description {
    grid-area: description;
  }
}
