@use "../abstracts/variables" as *;
@use "../abstracts/media-queries" as *;
@use "../layout/responsive-layout" as *;

.product-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "artwork"
    "heading"
    "actions"
    "description";
  margin-top: 16px;

  @include responsive-layout();

  @include for-large-screen {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "artwork heading actions"
      "artwork description actions";
    gap: 0 36px;
    margin-top: 16px;
  }

  @include for-xl-screen {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "artwork heading actions"
      "artwork description actions";
    gap: 0 36px;
    margin-top: 16px;
  }

  @include for-xxl-screen {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "artwork heading actions"
      "artwork description actions";
    gap: 0 36px;
    margin-top: 16px;
  }

  .grid-item {
    margin-bottom: 16px;
  }

  .product-artwork {
    grid-area: artwork;

    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .product-heading {
    grid-area: heading;
  }

  .product-description {
    grid-area: description;
  }

  .product-actions {
    grid-area: actions;

    .product-price {
    }

    .product-add-to-cart {
      .add-to-cart-form {
        &__quantity {
          width: 100%;
        }

        &__submit {
          width: 100%;
          height: 48px;
          margin-top: 16px;

          font-family: "Source Code Pro Regular", monospace;
          font-size: 1.8rem;

          color: $color-white;
          background-color: $color-black;
          border: 2px solid $color-black;

          &:hover {
            color: $color-black;
            background-color: $color-white;
          }
        }
      }
    }

    .product-tracklist {
      &__heading {
        margin-bottom: 8px;
      }

      &__list {
        list-style: none;

        &-item {
          cursor: pointer;
          padding: 8px;
          border-bottom: 1px solid lightgray;

          &:hover {
            color: $color-white;
            background-color: $color-black;
          }
        }
      }
    }
  }
}
