@use '../abstracts/variables' as *;

.body {
  background: $color-white;
  color: $color-black;

  .app-root {
    .app-header {
      .header {
        color: $color-black;
        background-color: $color-white;
      }
    }
    .app-main {
      .main {
        background-color: $color-white;
      }
    }
    .app-footer {
      .footer {
        color: $color-white;
        background-color: $color-black;
      }
    }
  }
}

* {
  &::selection {
    background-color: $color-accent;
    color: $color-black;
  }
}
