@use "../abstracts/variables" as *;

.body {
  background: $color-white;
  color: $color-black;

  .app-root {
    background-color: white;

    .app-header {
      .header {
      }
    }
    .app-main {
      .main {
        background-color: snow;
      }
    }
    .app-footer {
      .footer {
        color: snow;
        background-color: black;
      }
    }
  }
}

* {
  &::selection {
    background-color: #DFFF06;
    color: black;
  }
}